.imge{
    border-radius: 50%;
    width: 700px;
    height: 600px;
}
.titlered{
    background-color: lightgrey;
    color: blue;
    text-decoration-line: underline;
    text-decoration-color: purple;
    font-family: "Times New Roman", Times, serif;




}